= render 'shared/welcome'
%table#people.bordered.zebra
  %tr
    %th N#
    %th Education Form
    %th Person ID
  - @form_of_education.each_with_index do |person, i|
    %tr
      %td= i+1
      %td= person.education_form
      %td= person.person_id