%table#people
  %tr
    %th N#
    %th Initials
  - @people.each_with_index do |person, i|
    %tr
      %td= i+1
      %td= person.name


%h2 Import People
= render 'shared/form', route: import_people_path
