= render 'shared/welcome'
%table#people.bordered.zebra
  %tr
    %th N#
    - if RectorAppointment.column_names.include? :initials
      %th Initials
    %th Nakaz
    %th Person Id
  - @rector.each_with_index do |person, i|
    %tr
      %td= i+1
      - if RectorAppointment.column_names.include? :initials
        %th Initials
      %td= person.nakaz
      %td= person.person_id



