%table.bordered
  %tr
    %th
      = link_to "Person Table", person_all_people_path
    %th
      = link_to "Education Table", education_form_people_path
    %th
      = link_to "Rector Table", rector_people_path
    %th
      = link_to "Faculty Table", faculty_people_path
