= render 'shared/welcome'
%h2 Table For Enrolled Students
%table#people.bordered.zebra
  %tr
    %th N#
    %th faculty_name
    %th study_type
    %th nakaz_rektora
    %th student_id

  - @people.each_with_index do |person, i|
    %tr
      %td= person.id
      %td=person.faculty_name
      %td=person.study_type
      %td=person.nakaz_rektora
      %td=person.student_id
= will_paginate @people

