= render 'shared/welcome'
%h2 Table For Exclusion Aspirant
%table#people.bordered.zebra
  %tr
    %th N#
    %th date
    %th nakaz_rektora
    %th aspirant_id

  - @people.each_with_index do |person, i|
    %tr
      %td= person.id
      %td=person.date
      %td=person.nakaz_rektora
      %td=person.aspirant_id
= will_paginate @people
