= render 'shared/welcome'
%h2 Table For Exclusion Worker NDCH
%table#people.bordered.zebra
  %tr
    %th N#
    %th date
    %th reason
    %th nakaz_rektora
    %th worker_ndch_id

  - @people.each_with_index do |person, i|
    %tr
      %td= person.id
      %td=person.date
      %td=person.reason
      %td=person.nakaz_rektora
      %td=person.worker_dch_id
= will_paginate @people

