= render 'shared/welcome'
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th faculty_name
    %th study_type
    %th kyrs
    %th exclusion_reason
    %th exclusion_date
    %th student_id

  - @people.each_with_index do |person, i|
    %tr
      %td= person.id
      %td=person.initials
      %td=person.faculty_name
      %td=person.study_type
      %td=person.kyrs
      %td=person.exclusion_reason
      %td=person.exclusion_date
      %td=person.student_id
= will_paginate @people


