= render 'shared/welcome'
%h2 Table For Refresh Course For Students
%table#people.bordered.zebra
  %tr
    %th N#
    %th faculty_name
    %th study_type
    %th kyrs
    %th refresh_reason
    %th student_id
    %th nakaz_rektora

  - @people.each_with_index do |person, i|
    %tr
      %td= person.id
      %td=person.faculty_name
      %td=person.study_type
      %td=person.kyrs
      %td=person.refresh_reason
      %td=person.student_id
      %td=person.nakaz_rektora
= will_paginate @people
