= render 'shared/welcome'
%h2 Table For Transfer To New Theme Worker NDCH
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th from_date
    %th till_date
    %th new_theme
    %th new_salary
    %th worker_dch_id
    %th nakaz_rektora

  - @people.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials
      %td=person.from_date
      %td=person.till_date
      %td=person.new_theme
      %td=person.new_salary
      %td=person.worker_dch_id
      %td=person.nakaz_rektora
= will_paginate @people
