%table.bordered
  %tr
    %th
      = link_to "Students Table", students_table_uploads_path
    %th
      = link_to "Person Table", person_all_uploads_path
    %th
      = link_to "Exclusion Table", exclusion_table_uploads_path
