%table.bordered
  %tr
    %th
      = link_to "Students Table", students_table_uploads_path
    %th
      = link_to "Graduated Students Table", graduated_students_table_uploads_path
    %th
      = link_to "Join Table", join_table_uploads_path